<div class="sheet-shaped-row sheet-sub-header">
  <div class="sheet-col-41 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-en">Actions</span>
  </div>
  <div class="sheet-col-07 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-en">Hit</span>
  </div>
  <div class="sheet-col-20 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-en">Dmg</span>
  </div>
  <div class="sheet-col-10 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-en">Reach</span>
  </div>
  <div class="sheet-col-19 sheet-center sheet-small-label sheet-sub-header">
    <span class="sheet-en">Range</span>
  </div>
</div>
<!-- inject:quickActions:html -->
<!-- endinject -->
